@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgba(0, 0, 0, 0.224);
}
.is_active {
  transition: border, transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.active {
  color: rgb(4, 153, 195);
}
